name: nestify
description: "A new Flutter project."
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: '>=3.4.3 <4.0.0'

dependencies:
  cupertino_icons: ^1.0.6
  dropdown_button2: ^2.3.9
  firebase_auth: ^5.1.3
  firebase_core: ^3.3.0
  cloud_firestore: ^5.2.0
  google_sign_in: ^6.2.1
  
  flutter:
    sdk: flutter
  get: ^4.6.6
  flutter_bloc: ^8.1.6

dev_dependencies:

  flutter_lints: ^3.0.0
  flutter_test:
    sdk: flutter

flutter:

  uses-material-design: true

  assets:
    - assets/images/
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
